hr {
  border: none;
  border-top: 1px solid black;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 30%;
}
.table-data {
  padding: 37px 21px;
  background-color: ghostwhite;
}
.text-contact {
  margin-top: 8px;
}
.block-info {
  display: flex;
  justify-content: end;
  background: rgba(204, 204, 204, 0.5);
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: 14px;
  padding: 1rem;
}
.table-name {
  display: flex;
  gap: 12px;
}
.table-lock {
  display: flex;
  gap: 12px;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 2vh;
  }
}
h1 {
  text-shadow: 0 2px 1px rgba(255, 255, 255, 0.3);
  text-align: center;
  letter-spacing: -0.05rem;
  color: #222;
  margin: 0;
}
h2 {
  text-align: center;
  margin: 0.5rem 0 2rem 0;
  color: rgba(255, 255, 255, 0.6);
}
.grid-table {
  display: grid;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  align-items: top;
  background: rgba(250, 250, 250, 0.9);
  border-radius: 0.5rem;
}
@media (max-width: 800px) {
  .grid-table {
    background: transparent;
    grid-row-gap: 2rem;
    box-shadow: none;
  }
}
.grid-table-row {
  display: grid;
  grid-template-columns: repeat(2, 2fr) repeat(2, 1fr);
}
@media (max-width: 800px) {
  .grid-table-row {
    grid-template-columns: 3fr 1fr 3fr;
    background: rgba(250, 250, 250, 0.9);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }
}
@media (max-width: 400px) {
  .grid-table-row {
    grid-template-columns: 1fr 1fr;
  }
}
.grid-table-row:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.grid-table-row:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
  background: rgba(204, 204, 204, 0.5);
  font-weight: bold;
  text-shadow: 0 2px 1px #fff;
}
@media (max-width: 800px) {
  .grid-table-row:first-child {
    display: none;
  }
}
.grid-table-cell {
  padding: 1rem;
}
@media (max-width: 800px) {
  .grid-table-cell {
    padding: 0 0 1rem 0;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .grid-table-cell:before {
    content: attr(data-title);
    font-weight: bold;
    display: block;
    background: rgba(221, 221, 221, 0.8);
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 1rem;
  }
  .grid-table-cell:first-child {
    grid-column-start: 1;
    grid-column-end: 5;
    border-bottom: 1px solid #ddd;
  }
  .grid-table-cell:first-child:before {
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
@media (max-width: 400px) {
  .grid-table-cell:last-child {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}
